h1 {
  padding-left: 2rem;
}

.detailedContent {
  display: flex;
  flex-direction: column;
  color: white;
  border-radius: 15px;
  box-shadow: 2px 2px 5px black;
}

nav {
  width: fit-content;
  height: fit-content;
}

.backToHomePageArrow {
  width: 6rem;
  text-decoration: none;
  color: white;
  z-index: 9;
  padding: 1rem 0 0 2rem;
}

.pokeImgDetailed {
  width: 16.5rem;
  display: flex;
  align-self: center;
  position: absolute;
  z-index: 8;
  padding-top: 15rem;
}

.pokeNameBig {
  padding: 0 0 0 1rem;
  font-size: 2.5rem;
  text-transform: capitalize;
  width: fit-content;
  height: fit-content;
}

.pokeNumBig {
  padding: 0 1rem 0 0;
  font-size: 1rem;
  align-self: end;
  font-size: 38px;
}

.typesBig {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 0.3rem;
  padding-left: 0.5rem;
  font-size: 1.6rem;
}

.typeBgBig {
  padding: 0px 6px;
  text-align: center;
  width: 7.3rem;
  height: 2.4rem;
  border-radius: 20px;
}

.menuTitle {
  position: relative;
  text-decoration: none;
  color: #464646;
  padding-bottom: 20px;
  z-index: 9;
}

.menuTitle:hover {
  color: #4c00ff;
}
.menuTitle::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: #4c00ff;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.menuTitle:hover::before {
  transform: scaleX(1);
}

.menuTitle:focus {
  text-decoration: underline;
  color: #4c00ff;
  text-decoration-color: #4c00ff;
  text-decoration-thickness: 2px;
  text-underline-offset: 26px;
  transition: 0.5s;
  outline: none;
}

.titles {
  border-bottom: 2px solid grey;
  background-color: white;
  margin-top: 13.4rem;
  padding-top: 2rem;
  display: flex;
  justify-content: space-evenly;
  position: relative;
  border-top-right-radius: 5rem;
  border-top-left-radius: 5rem;
  position: relative;
}

.contentMenu {
  display: flex;
  flex-direction: column;
}

.mainAbout {
  padding-left: 0;
  list-style: none;
  background-color: white;
  color: black;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
  text-align: center;
}

.lineBreak {
  border-bottom: 2px solid #727272;
}

.breedingInfo {
  @extend .mainAbout;
}

.statTitle {
  text-align: justify;
  width: 4rem;
}

.statData {
  width: 2rem;
}

h4 {
  color: black;
  text-align: center;
}

.detailedPokemonInfo {
  background-color: white;
  padding: 1rem;
  border-radius: 0 0 15px 15px;
}

.evoArrow {
  color: black;
  width: 3rem;
}

.evoImg {
  width: 55%;
}

.evolutionChain {
  display: flex;
  align-items: center;
  justify-content: center;
}

figcaption {
  color: black;
}

.evoBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.progress {
  height: 3px;
  width: 7rem;
  align-self: center;
}

.baseStats {
  @extend .mainAbout;
  padding: 0 0 1rem;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.stats {
  gap: 1rem;
  padding: 0;
  display: flex;
  justify-self: center;

  // width: 50%;
}
