@import "./cardBgColor.scss";
@import "./_breakpoints.scss";
@import "./_common.scss";
@import "./_pokedex.scss";
@import "./_singlePokemon.scss";
@import "./_genMenu.scss";

@include sm {
  .types {
    padding-top: 2rem;
    font-size: 24px;
  }

  .typeBg {
    padding: 0px 6px;
    text-align: center;
    width: 6.7rem;
    border-radius: 22px;
  }

  .card {
    width: 25rem;
    height: 15rem;
  }

  .pokeName {
    font-size: 34px;
  }

  .pokeImg {
    width: 12rem;
  }

  .pokeNum {
    font-size: 24px;
  }

  .pokeImgDetailed {
    width: 22rem;
    align-self: center;
    position: absolute;
    z-index: 9;
    padding-top: 15rem;
  }

  .progress {
    height: 3px;
    width: 10rem;
    display: flex;
    align-self: center;
  }

  .pokeNameBig {
    padding: 0 0 0 1rem;
    font-size: 4rem;
    text-transform: capitalize;
  }

  #gen1Starter {
    width: 16rem;
  }

  #gen2Starter {
    width: 14rem;
  }

  #gen3Starter {
    width: 14rem;
  }

  #gen4Starter {
    width: 14rem;
  }

  #gen5Starter {
    width: 14rem;
  }

  #gen6Starter {
    width: 14rem;
  }

  #gen7Starter {
    width: 14rem;
  }

  #gen8Starter {
    width: 12rem;
  }

  #gen9Starter {
    width: 14rem;
  }
}

@include md {
  .pokedex {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "1 2";
  }

  .types {
    display: flex;
    flex-direction: column;
  }

  .typeBg {
    padding: 0px 6px;
    text-align: center;
    width: 6.7rem;
    border-radius: 22px;
  }

  .card {
    width: 25rem;
    height: 15rem;
  }

  .detailedCard {
    margin: auto;
    width: 50.5rem;
    height: auto;
  }

  .pokeImgDetailed {
    width: 24rem;
    align-self: center;
    position: absolute;
    z-index: 9;
    padding-top: 13rem;
  }
  .pokeGens {
    justify-items: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@include xl {
  .genCard {
    width: 24rem;
  }
  .pokeGens {
    justify-items: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
