@import "./_breakpoints.scss";
@import "./_common.scss";
@import "./_content.scss";
@import "./cardBgColor.scss";
@import "./_card.scss";
@import "./_pokeDetailedInfo.scss";

@include xs {
  .content {
    background-size: cover;
  }

  .pokedex {
    grid-template-columns: 1fr;
    grid-template-areas: "1";
  }

  .types {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    font-size: 24px;
  }

  .typeBg {
    padding: 0px 6px;
    text-align: center;
    width: 6.7rem;
    border-radius: 22px;
  }

  .card {
    width: 20rem;
    height: 12.5rem;
  }

  .pokeName {
    font-size: 24px;
  }
  .pokeImg {
    width: 10rem;
  }

  .pokeNum {
    font-size: 20px;
  }
}

@include sm {
  .content {
    background-size: cover;
  }

  .pokedex {
    grid-template-columns: 1fr;
    grid-template-areas: "1";
  }

  .types {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    font-size: 16px;
  }

  .typeBg {
    padding: 0px 6px;
    text-align: center;
    width: 4.7rem;
    border-radius: 22px;
  }

  .card {
    width: 15rem;
    height: 9.5rem;
  }

  .pokeName {
    font-size: 24px;
  }
  .pokeImg {
    width: 7rem;
  }

  .pokeNum {
    font-size: 18px;
  }
}

@include md {
  .content {
    background-size: cover;
    padding: 1rem;
  }
  .pokedex {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "1";
  }

  .types {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    font-size: 24px;
  }

  .typeBg {
    padding: 0px 6px;
    text-align: center;
    width: 6.7rem;
    border-radius: 22px;
  }

  .card {
    width: 25rem;
    height: 15rem;
  }

  .pokeName {
    font-size: 34px;
  }
  .pokeImg {
    width: 12rem;
  }

  .pokeNum {
    font-size: 24px;
  }
}

@include lg {
  .content {
    background-size: cover;
  }
  .pokedex {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "1 2";
  }

  .types {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    font-size: 24px;
  }

  .typeBg {
    padding: 0px 6px;
    text-align: center;
    width: 6.7rem;
    border-radius: 22px;
  }

  .card {
    width: 25rem;
    height: 15rem;
  }

  .pokeName {
    font-size: 34px;
  }
  .pokeImg {
    width: 12rem;
  }

  .pokeNum {
    font-size: 24px;
  }
}
