* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

h1 {
  padding-left: auto;
  font-weight: 700;
}

.content {
  padding: 1rem;
  min-height: 100vh;
  background: rgb(214, 196, 236);
  background: linear-gradient(180deg, rgb(214, 196, 236) 0%, rgb(191, 180, 234) 25%, rgb(175, 171, 234) 50%, rgb(159, 163, 235) 75%, rgb(136, 150, 232) 100%);
  color: rgb(0, 0, 0);
}

.pokedex, .types {
  padding: 0rem;
  margin: auto;
  list-style: none;
  gap: 5px 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "1 2";
  margin-top: 0.5rem;
  justify-items: center;
}

.grass {
  background-color: #78c850;
}
.grass .typingBgColor {
  background-color: #5fae37;
}

.fire {
  background-color: #f08030;
}
.fire .typingBgColor {
  background-color: #dd6510;
}

.water {
  background-color: #6890f0;
}
.water .typingBgColor {
  background-color: #3a6eeb;
}

.electric {
  background-color: #f8d030;
}
.electric .typingBgColor {
  background-color: #edbf08;
}

.rock {
  background-color: #b8a038;
}
.rock .typingBgColor {
  background-color: #917e2c;
}

.bug {
  background-color: #a8b820;
}
.bug .typingBgColor {
  background-color: #808d18;
}

.normal {
  background-color: #a8a878;
}
.normal .typingBgColor {
  background-color: #90905d;
}

.fighting {
  background-color: #c03028;
}
.fighting .typingBgColor {
  background-color: #96251f;
}

.flying {
  background-color: #a890f0;
}
.flying .typingBgColor {
  background-color: #8563ea;
}

.poison {
  background-color: #a040a0;
}
.poison .typingBgColor {
  background-color: #7c317c;
}

.ground {
  background-color: #e0c068;
}
.ground .typingBgColor {
  background-color: #d7ae3e;
}

.psychic {
  background-color: #f85888;
}
.psychic .typingBgColor {
  background-color: #f62765;
}

.ice {
  background-color: #98d8d8;
}
.ice .typingBgColor {
  background-color: #73caca;
}

.dragon {
  background-color: #7038f8;
}
.dragon .typingBgColor {
  background-color: #4d09f4;
}

.ghost {
  background-color: #705898;
}
.ghost .typingBgColor {
  background-color: #584578;
}

.dark {
  background-color: #705848;
}
.dark .typingBgColor {
  background-color: #514034;
}

.steel {
  background-color: #b8b8d0;
}
.steel .typingBgColor {
  background-color: #9999bc;
}

.fairy {
  background-color: #ee99ac;
}
.fairy .typingBgColor {
  background-color: #e76d88;
}

.card {
  width: 20.8rem;
  height: 8rem;
  color: rgb(255, 255, 255);
  padding: 0.2rem;
  display: flex;
  flex-direction: column;
  text-align: end;
  justify-content: space-evenly;
  align-content: space-evenly;
  font-size: 12px;
}

.pokeImg {
  width: 5rem;
  display: flex;
  align-self: end;
}

.pokeName {
  text-align: justify;
  width: fit-content;
  height: min-content;
  line-height: 16px;
  font-size: 16px;
}

.pokeNum {
  padding: 0;
  text-align: right;
  height: fit-content;
  font-size: 10px;
  color: #000000;
  opacity: 0.3;
  text-align: right;
  font-size: 0.625rem;
}

.info {
  width: 100%;
  height: fit-content;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.typeBg {
  padding: 0px 6px;
  text-align: center;
  width: 8.7rem;
  border-radius: 12px;
}

.types {
  display: flex;
  flex-direction: column;
}

.bttnStyling {
  padding: 0;
  border: none;
  background: none;
  outline: none;
}

.detailedContent {
  display: flex;
  flex-direction: column;
  color: white;
}

.backToHomePageArrow {
  text-decoration: none;
  color: white;
  padding: 2rem 3rem;
  z-index: 9;
}

.pokeImgDetailed {
  width: 17rem;
  display: flex;
  align-self: center;
  position: absolute;
  z-index: 8;
  padding-top: 20rem;
}

.pokeNameBig {
  padding: 1rem;
  font-size: 3rem;
  text-transform: capitalize;
}

.pokeNumBig {
  padding: 1rem;
  font-size: 1rem;
  align-self: end;
  font-size: 38px;
}

.typesBig {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 0.3rem;
  padding-left: 1rem;
  font-size: 1.6rem;
}

.typeBgBig {
  padding: 0px 6px;
  text-align: center;
  width: 7.3rem;
  height: 2.4rem;
  border-radius: 20px;
}

.menuTitle {
  position: relative;
  text-decoration: none;
  color: #464646;
  padding-bottom: 20px;
}

.menuTitle:hover {
  color: #4c00ff;
}

.menuTitle::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: #4c00ff;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.menuTitle:hover::before {
  transform: scaleX(1);
}

.menuTitle:focus {
  text-decoration: underline;
  color: #4c00ff;
  text-decoration-color: #4c00ff;
  text-decoration-thickness: 2px;
  text-underline-offset: 26px;
  transition: 0.5s;
  outline: none;
}

.titles {
  border-bottom: 2px solid grey;
  background-color: white;
  margin-top: 15rem;
  padding-top: 4rem;
  display: flex;
  justify-content: space-evenly;
  position: relative;
  border-top-right-radius: 5rem;
  border-top-left-radius: 5rem;
  position: relative;
}

.contentMenu {
  display: flex;
  flex-direction: column;
}

.mainAbout, .baseStats, .breedingInfo {
  list-style: none;
  background-color: white;
  color: black;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
  text-align: center;
}

.lineBreak {
  border-bottom: 2px solid #727272;
}

.statTitle {
  text-align: justify;
  width: 4rem;
}

.statData {
  width: 2rem;
}

h4 {
  color: black;
  text-align: center;
}

.detailedPokemonInfo {
  background-color: white;
  padding: 1rem;
}

.evoArrow {
  color: black;
  width: 3rem;
}

.evoImg {
  width: 35%;
}

.evolutionChain {
  display: flex;
  align-items: center;
  justify-content: center;
}

figcaption {
  color: black;
}

.evoBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.progress {
  height: 3px;
  width: 7rem;
  align-self: center;
}

.baseStats {
  padding: 0 0 1rem;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.stats {
  gap: 1rem;
  padding: 0;
  display: flex;
  justify-self: center;
}

@media (min-width: 280px) {
  .pokedex, .types {
    grid-template-columns: 1fr;
    grid-template-areas: "1";
  }
  .types {
    padding-top: 1rem;
    font-size: 16px;
  }
  .typeBg {
    padding: 0px 6px;
    text-align: center;
    width: 4.7rem;
    border-radius: 22px;
  }
  .card {
    width: 15rem;
    height: 9.5rem;
  }
  .pokeName {
    font-size: 24px;
  }
  .pokeImg {
    width: 7rem;
  }
  .pokeNum {
    font-size: 18px;
  }
}
@media (min-width: 520px) {
  .types {
    padding-top: 2rem;
    font-size: 24px;
  }
  .typeBg {
    padding: 0px 6px;
    text-align: center;
    width: 6.7rem;
    border-radius: 22px;
  }
  .card {
    width: 25rem;
    height: 15rem;
  }
  .pokeName {
    font-size: 34px;
  }
  .pokeImg {
    width: 12rem;
  }
  .pokeNum {
    font-size: 24px;
  }
  .pokeImgDetailed {
    width: 22rem;
    align-self: center;
    position: absolute;
    z-index: 9;
    padding-top: 16rem;
  }
  .progress {
    height: 3px;
    width: 10rem;
    display: flex;
    align-self: center;
  }
  .pokeNameDetailed {
    font-size: 3rem;
  }
}
@media (min-width: 850px) {
  .pokedex, .types {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "1 2";
  }
  .types {
    display: flex;
    flex-direction: column;
  }
  .typeBg {
    padding: 0px 6px;
    text-align: center;
    width: 6.7rem;
    border-radius: 22px;
  }
  .card {
    width: 25rem;
    height: 15rem;
  }
  .detailedCard {
    margin: auto;
    width: 50rem;
    height: auto;
  }
}

/*# sourceMappingURL=styles.css.map */
