.grass {
  background-color: #78c850;
}
.grass .typingBgColor {
  background-color: #5fae37;
}

.fire {
  background-color: #f08030;
}
.fire .typingBgColor {
  background-color: #dd6510;
}

.water {
  background-color: #6890f0;
}
.water .typingBgColor {
  background-color: #3a6eeb;
}

.electric {
  background-color: #f8d030;
}
.electric .typingBgColor {
  background-color: #edbf08;
}

.rock {
  background-color: #b8a038;
}
.rock .typingBgColor {
  background-color: #917e2c;
}

.bug {
  background-color: #a8b820;
}
.bug .typingBgColor {
  background-color: #808d18;
}

.normal {
  background-color: #a8a878;
}
.normal .typingBgColor {
  background-color: #90905d;
}

.fighting {
  background-color: #c03028;
}
.fighting .typingBgColor {
  background-color: #96251f;
}

.flying {
  background-color: #a890f0;
}
.flying .typingBgColor {
  background-color: #8563ea;
}

.poison {
  background-color: #a040a0;
}
.poison .typingBgColor {
  background-color: #7c317c;
}

.ground {
  background-color: #e0c068;
}
.ground .typingBgColor {
  background-color: #d7ae3e;
}

.psychic {
  background-color: #f85888;
}
.psychic .typingBgColor {
  background-color: #f62765;
}

.ice {
  background-color: #98d8d8;
}
.ice .typingBgColor {
  background-color: #73caca;
}

.dragon {
  background-color: #7038f8;
}
.dragon .typingBgColor {
  background-color: #4d09f4;
}

.ghost {
  background-color: #705898;
}
.ghost .typingBgColor {
  background-color: #584578;
}

.dark {
  background-color: #705848;
}
.dark .typingBgColor {
  background-color: #514034;
}

.steel {
  background-color: #b8b8d0;
}
.steel .typingBgColor {
  background-color: #9999bc;
}

.fairy {
  background-color: #ee99ac;
}
.fairy .typingBgColor {
  background-color: #e76d88;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

#content {
  padding: 1rem;
  min-height: 100vh;
  background: rgb(214, 196, 236);
  background: linear-gradient(180deg, rgb(214, 196, 236) 0%, rgb(191, 180, 234) 25%, rgb(175, 171, 234) 50%, rgb(159, 163, 235) 75%, rgb(136, 150, 232) 100%);
  color: rgb(0, 0, 0);
}

h1 {
  padding-left: auto;
  font-weight: 700;
}

.pokedex, .types {
  padding: 0rem;
  margin: auto;
  list-style: none;
  gap: 10px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "1";
  margin-top: 0.5rem;
  justify-items: center;
}

.card {
  width: 15rem;
  height: 9.5rem;
  color: rgb(255, 255, 255);
  padding: 0.2rem;
  display: flex;
  flex-direction: column;
  text-align: end;
  justify-content: space-evenly;
  align-content: space-evenly;
  font-size: 12px;
  box-shadow: 2px 2px 5px black;
}

.pokeImg {
  width: 7rem;
  display: flex;
  align-self: end;
}

.pokeName {
  text-align: justify;
  text-transform: capitalize;
  width: fit-content;
  height: min-content;
  line-height: 16px;
  font-size: 24px;
}

.pokeNum {
  padding: 0;
  text-align: right;
  height: fit-content;
  color: #000000;
  opacity: 0.3;
  text-align: right;
  font-size: 1.1rem;
}

.info {
  width: 100%;
  height: fit-content;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.typeBg {
  padding: 0px 6px;
  text-align: center;
  width: 4.7rem;
  border-radius: 22px;
}

.types {
  text-transform: capitalize;
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  font-size: 16px;
}

.bttnStyling {
  padding: 0;
  border: none;
  background: none;
  outline: none;
}

.backToGenPageArrow {
  text-decoration: none;
  bottom: 10%;
  color: black;
  z-index: 9;
  padding-top: 1rem;
  width: 3rem;
}

h1 {
  padding-left: 2rem;
}

.detailedContent {
  display: flex;
  flex-direction: column;
  color: white;
  border-radius: 15px;
  box-shadow: 2px 2px 5px black;
}

nav {
  width: fit-content;
  height: fit-content;
}

.backToHomePageArrow {
  width: 6rem;
  text-decoration: none;
  color: white;
  z-index: 9;
  padding: 1rem 0 0 2rem;
}

.pokeImgDetailed {
  width: 16.5rem;
  display: flex;
  align-self: center;
  position: absolute;
  z-index: 8;
  padding-top: 15rem;
}

.pokeNameBig {
  padding: 0 0 0 1rem;
  font-size: 2.5rem;
  text-transform: capitalize;
  width: fit-content;
  height: fit-content;
}

.pokeNumBig {
  padding: 0 1rem 0 0;
  font-size: 1rem;
  align-self: end;
  font-size: 38px;
}

.typesBig {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 0.3rem;
  padding-left: 0.5rem;
  font-size: 1.6rem;
}

.typeBgBig {
  padding: 0px 6px;
  text-align: center;
  width: 7.3rem;
  height: 2.4rem;
  border-radius: 20px;
}

.menuTitle {
  position: relative;
  text-decoration: none;
  color: #464646;
  padding-bottom: 20px;
  z-index: 9;
}

.menuTitle:hover {
  color: #4c00ff;
}

.menuTitle::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: #4c00ff;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.menuTitle:hover::before {
  transform: scaleX(1);
}

.menuTitle:focus {
  text-decoration: underline;
  color: #4c00ff;
  text-decoration-color: #4c00ff;
  text-decoration-thickness: 2px;
  text-underline-offset: 26px;
  transition: 0.5s;
  outline: none;
}

.titles {
  border-bottom: 2px solid grey;
  background-color: white;
  margin-top: 13.4rem;
  padding-top: 2rem;
  display: flex;
  justify-content: space-evenly;
  position: relative;
  border-top-right-radius: 5rem;
  border-top-left-radius: 5rem;
  position: relative;
}

.contentMenu {
  display: flex;
  flex-direction: column;
}

.mainAbout, .baseStats, .breedingInfo {
  padding-left: 0;
  list-style: none;
  background-color: white;
  color: black;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
  text-align: center;
}

.lineBreak {
  border-bottom: 2px solid #727272;
}

.statTitle {
  text-align: justify;
  width: 4rem;
}

.statData {
  width: 2rem;
}

h4 {
  color: black;
  text-align: center;
}

.detailedPokemonInfo {
  background-color: white;
  padding: 1rem;
  border-radius: 0 0 15px 15px;
}

.evoArrow {
  color: black;
  width: 3rem;
}

.evoImg {
  width: 55%;
}

.evolutionChain {
  display: flex;
  align-items: center;
  justify-content: center;
}

figcaption {
  color: black;
}

.evoBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.progress {
  height: 3px;
  width: 7rem;
  align-self: center;
}

.baseStats {
  padding: 0 0 1rem;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.stats {
  gap: 1rem;
  padding: 0;
  display: flex;
  justify-self: center;
}

.pokeGens {
  justify-items: center;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
}

.genCard {
  align-items: center;
}

.genTitleLink {
  text-decoration: none;
  text-align: center;
  color: black;
  font-size: 2rem;
  position: absolute;
  z-index: 9;
  bottom: -0.3rem;
  width: inherit;
  height: inherit;
}

.genStarters {
  position: absolute;
  bottom: 0;
}

#gen1Starter {
  width: 11rem;
}

#gen2Starter {
  width: 9rem;
}

#gen3Starter {
  width: 9rem;
}

#gen4Starter {
  width: 9rem;
}

#gen5Starter {
  width: 9rem;
}

#gen6Starter {
  width: 9rem;
}

#gen7Starter {
  width: 9rem;
}

#gen8Starter {
  width: 7rem;
}

#gen9Starter {
  width: 9rem;
}

@media (min-width: 520px) {
  .types {
    padding-top: 2rem;
    font-size: 24px;
  }
  .typeBg {
    padding: 0px 6px;
    text-align: center;
    width: 6.7rem;
    border-radius: 22px;
  }
  .card {
    width: 25rem;
    height: 15rem;
  }
  .pokeName {
    font-size: 34px;
  }
  .pokeImg {
    width: 12rem;
  }
  .pokeNum {
    font-size: 24px;
  }
  .pokeImgDetailed {
    width: 22rem;
    align-self: center;
    position: absolute;
    z-index: 9;
    padding-top: 15rem;
  }
  .titles {
    margin-top: 15rem;
    padding-top: 4rem;
  }
  .progress {
    height: 3px;
    width: 10rem;
    display: flex;
    align-self: center;
  }
  .pokeNameBig {
    padding: 0 0 0 1rem;
    font-size: 4rem;
    text-transform: capitalize;
  }
  #gen1Starter {
    width: 16rem;
  }
  #gen2Starter {
    width: 14rem;
  }
  #gen3Starter {
    width: 14rem;
  }
  #gen4Starter {
    width: 14rem;
  }
  #gen5Starter {
    width: 14rem;
  }
  #gen6Starter {
    width: 14rem;
  }
  #gen7Starter {
    width: 14rem;
  }
  #gen8Starter {
    width: 12rem;
  }
  #gen9Starter {
    width: 14rem;
  }
  .backToGenPageArrow {
    margin-left: 2rem;
  }
}
@media (min-width: 840px) {
  .pokedex, .types {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "1 2";
  }
  .types {
    display: flex;
    flex-direction: column;
  }
  .typeBg {
    padding: 0px 6px;
    text-align: center;
    width: 6.7rem;
    border-radius: 22px;
  }
  .card {
    width: 25rem;
    height: 15rem;
  }
  .detailedCard {
    margin: auto;
    width: 50.5rem;
    height: auto;
  }
  .pokeImgDetailed {
    width: 24rem;
    align-self: center;
    position: absolute;
    z-index: 9;
    padding-top: 13rem;
  }
  .pokeGens {
    justify-items: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1200px) {
  .genCard {
    width: 24rem;
  }
  .pokeGens {
    justify-items: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .backToGenPageArrow {
    margin-left: 2rem;
  }
}
@media (min-width: 2000px) {
  .genCard {
    width: 100rem;
    height: 100rem;
  }
  .genTitleLink {
    font-size: 4rem;
  }
  .genStarters {
    bottom: 1rem;
  }
  #gen1Starter {
    width: 36rem;
  }
  #gen2Starter {
    width: 32rem;
  }
  #gen3Starter {
    width: 32rem;
  }
  #gen4Starter {
    width: 32rem;
  }
  #gen5Starter {
    width: 32rem;
  }
  #gen6Starter {
    width: 32rem;
  }
  #gen7Starter {
    width: 37rem;
  }
  #gen8Starter {
    width: 27rem;
  }
  #gen9Starter {
    width: 32rem;
  }
  .card {
    width: 40rem;
    height: 30rem;
  }
  .pokeName {
    font-size: 5rem;
  }
  .pokeNum {
    font-size: 3rem;
  }
  .types {
    font-size: 3rem;
  }
  .typeBg {
    width: 14rem;
    border-radius: 2rem;
  }
  .pokeImg {
    width: 22rem;
  }
  .genCard {
    width: 38rem;
  }
  .pokeNumBig {
    font-size: 4rem;
  }
  .pokeNameBig {
    font-size: 5rem;
  }
  .typesBig {
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
  }
  .typeBgBig {
    width: 14rem;
    height: 4.5rem;
    border-radius: 2rem;
  }
  .pokeImgDetailed {
    padding-top: 15rem;
    width: 32rem;
  }
  .detailedContent {
    width: 60rem;
    height: 100%;
    font-size: 2rem;
  }
  .detailedContent h4 {
    font-size: 3rem;
  }
  .detailedContent .stats {
    gap: 5rem;
  }
  .detailedContent .stats .progress {
    width: 20rem;
  }
}

/*# sourceMappingURL=styles.css.map */
